body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.Sb { 
  display: inline-block;
  margin: 1px;
  margin-top: 8%;
  margin-left: 27%;
  margin-right: 2%;
  padding: 10px;
  width: 46%;
  height: 46%;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  color: #181818;
  z-index: 10000;
  background-color: #cccccc;
  font-weight: bold; /* 굵기 설정 */
  text-align: center; /* 텍스트 정렬 */
}

.Sb #title{
  margin: 0; /* h2의 기본 margin을 제거 */
  font-size: 4rem; /* h2의 폰트 크기 조정 (필요한 경우) */
  max-width: 700px;
}

.Re {
  display: inline-block;
  font-size: medium;
  margin: 1px;
  margin-top: 1%;
  margin-left: 27%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  color: #181818;
  z-index: 10000;
  background-color: #cccccc;

  width: 100%;
  min-height: 200px; 
  max-width: 700px; 
  box-sizing: border-box;
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  overflow: auto; 
}

/* 리포트 내용 */
.report-content {
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
}




.Ai{
  display: inline-block;
  position: fixed;
  margin-top: 13%;
  margin-left: 2%;
  padding: 10px;
  width: 21%;
  height: 63vh;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  background-image: url(../public/map.png);
  background-size: contain;
  z-index: 10000;
}

.Uf {
  display: inline-block;
  position: fixed;
  margin-left: 2%;
  padding: 10px;
  width: 21%;
  height: 63vh;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  background-image: url(../public/tft.jpg);
  background-size: contain;
  z-index: 10000;
}

.BD {
}

.BD::before {
  position: fixed; /* 화면 전체를 기준으로 고정 */
  top: 0; /* 화면 상단에 붙이기 */
  left: 0; /* 화면 왼쪽에 붙이기 */
  background-image: url("../public/t1003.jpg");
  opacity: 0.9;
  content: "";
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -100;
}
