@font-face {
  
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style:  bold;
}  

.report-page::before {
  position: fixed; 
  top: 0; 
  left: 0; 
  background:#FAF9FF;
  content: "";
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.report-page{
  overflow:visible;
}

.report-navBar{
  margin-top: 8%;
}

.report-category-list-buttons{
  margin-left: 27%;
  width: 46%;
  align-items: center;
  padding: 10px 1px 10px 10px;
  background-color: #FAF9FF;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
}

.report-category-list-buttons button{
  font-family: 'SUIT-Regular';
  margin-left: 3%;
  margin-bottom: 1%;
  width: 190px;
  padding: 5px 0px 5px 0px;
  border-radius: 8px;
  background-color: #d8ebf6;
  color: #333333;
}

.report-category-list-buttons button.selected{
  background-color: #182c47; /* 선택된 버튼은 어두운색 */
  color: white; /* 글씨는 흰색 */
}

.report-title { 
  display: inline-block;
  margin: 1px;  
  margin-left: 27%;
  margin-right: 2%;
  margin-top: 2%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  width: 46%;
  padding: 10px 110px 10px 110px;
  color: #182c47;
  background-color: #FFFFFF;
  font-weight: bold; /* 굵기 설정 */
  text-align: center; /* 텍스트 정렬 */
}

.report-title #title{
  margin: 0; /* h2의 기본 margin을 제거 */
  font-size: 4rem; /* h2의 폰트 크기 조정 (필요한 경우) */
}

.report-content-container {
  display: inline-block;
  font-size: medium;
  margin: 1px;
  margin-left: 27%;
  margin-right: 2%;
  margin-bottom: 10%;
  padding: 20px;
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  color: #182c47;
  background-color: #FFFFFF;

  width: 46%;
  min-height: 200px; 
  box-sizing: border-box;
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  z-index: 0;
}

.report-myinfo{
  margin-top: 9%;
}