.report-page::before {
  position: fixed; 
  top: 0; 
  left: 0; 
  background-image: url("../public/t1003.jpg");
  opacity: 0.9;
  content: "";
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.report-page{
  overflow:visible;
}
.report-title { 
  display: inline-block;
  margin: 1px;  
  margin-top: 6%;
  margin-left: 27%;
  margin-right: 2%;
  padding: 10px;
  width: 46%;
  height: 46%;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  color: #181818;
  background-color: #cccccc;
  font-weight: bold; /* 굵기 설정 */
  text-align: center; /* 텍스트 정렬 */
}

.report-title #title{
  margin: 0; /* h2의 기본 margin을 제거 */
  font-size: 4rem; /* h2의 폰트 크기 조정 (필요한 경우) */
}

.report-content-container {
  display: inline-block;
  font-size: medium;
  margin: 1px;
  margin-top: 2%;
  margin-left: 27%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #181818;
  color: #181818;
  background-color: #cccccc;

  width: 46%;
  min-height: 200px; 
  box-sizing: border-box;
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  z-index: 0;
}
